<h1> New Movie Info </h1>


<%= form_for :movie, url: movies_path do |f| %>
    <%= f.label :name  %><br>
    <%= f.text_field :name %><br>
    <%= f.label :description  %><br>
    <%= f.text_field :description %><br>
    <%= f.label :director  %><br>
    <%= f.text_field :director %><br>
    <%= f.label :price  %><br>
    <%= f.text_field :price %><br>

    <%= f.submit "Add Movie" %>
<% end %>