<h1>Purchase Tickets Here</h1>

  <strong>Title:</strong>
  <%= @movie.name %><br>
  <strong>Director:</strong>
  <%= @movie.director %><br>
  <strong>Description:</strong>
  <%= @movie.description %><br>
  <strong>Price:</strong>
  <%= number_to_currency(@movie.price) %>
  <br>
  <br>

<%= link_to 'Buy Tickets', new_ticket_path%>