<h1> Tickets Purchase Info </h1>


<%= form_for :ticket, url: tickets_path do |f| %>

    <%= f.label :name %><br>
    <%= f.collection_select :movie_id, Movie.order(:name),:id, :name %>  
    <%= f.label :number  %><br>
    <%= f.select :number, [ 1, 2, 3, 4, 5, 6, 7, 8, 9 ], :prompt => 'Select One' %><br>
    <%= f.label :card_number  %><br>
    <%= f.text_field :card_number, size: 30%><br>
    
    <%= f.submit "Purchase Tickets" %>
<% end %>